# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Environment variables
.env

# Docker
.dockerignore

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# MinIO data
minio_data/

# Aerich migrations temp
aerich.ini.mcp.json
